---
import PostCard from '@components/PostCard.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { fetchPosts, fetchTags } from '@lib/post'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
  const posts = await fetchPosts()
  const tags = Array.from((await fetchTags()).keys())

  return tags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}) satisfies GetStaticPaths

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout head={{
  title: `Tag: ${tag}`,
  description: `All articles with tag '${tag}'`,
}}>
  <div class="max-w-screen-xl mx-auto px-4 py-20">
    <h1 class="font-pixel text-4xl mb-12 text-center">
      Posts tagged with <span class="text-primary">#{tag}</span>
    </h1>

    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {posts.map((post) => (
        <a href={`/posts/${post.slug}`}>
          <PostCard post={post} />
        </a>
      ))}
    </div>
  </div>
</BaseLayout>
